<template>
    <div class="container w-50">
        <h3 class="text-center">Confirming ...</h3>
    </div>
</template>
<script>
import AuthService from '~/services/auth.service';
export default {
    data() {
        return {
            mail_token: this.$route.params.token
        }
    },
    created() {
        this.confirmToken();
    },
    methods: {
        confirmToken: function() {
            let data = { mail_token: this.mail_token }
            this.$http.post('/auth/confirm-register', data)
            .then( response => {
                this.$toastr('success', response.data.message);
                this.$router.push('/')
            })
            .catch( response => {
                if(response.status == 403){
                    this.$toastr('error', response.data.message);
                    this.$router.push('/')
                }
            })
        }
    },

}
</script>
