<template>
    <div v-if="!isAuth || (user.account_status == 'MAIN' && !globalObjectLength(sub_account))">
        <button class="gl-btn gl-bg-yellow gl-btn-size-sm gl-btn-weight-bold" type="button" @click="createAccount">
            <span v-if="disabledSubmit">
                <PulseLoader :color="'white'" :size="'10px'"/>
            </span>
            <span v-else="disabledSubmit">
                {{ $t('cre-test-acc') }}
            </span>
        </button>
    </div>
    <div v-else-if="isAuth && user.account_status == 'MAIN' && globalObjectLength(sub_account)">
        <button class="gl-btn gl-bg-yellow gl-btn-size-sm gl-btn-weight-bold" type="button" @click="playNow(sub_account.id)">
            <span v-if="disabledSubmit">
                <PulseLoader :color="'white'" :size="'10px'"/>
            </span>
            <span v-else="disabledSubmit">
                {{ $t('play-now') }}
            </span>
        </button>
    </div>
</template>
<script>
import AuthService from '~/services/auth.service';
import PulseLoader from 'vue-spinner/src/PulseLoader.vue';
import SocketService from '~/services/socket.service';
export default {
    components: {
        PulseLoader
    },
    data(){
        return {
            isAuth: AuthService.isAuth,
            user: this.$store.state.user.data,
            disabledSubmit: false,
            sub_account: '',
        }
    },
    created(){
        if(this.isAuth)
        {
            this.getSubAccount();
        } 
    },
    methods: {
        createAccount: function(){
            this.disabledSubmit = true;
            setTimeout( function() {
                let data = {};
                data.user = this.user ? this.user : {};
                data.url = window.location.pathname;
                data.isAuth = this.isAuth;
                this.$http.post('/auth/sub-account', data)
                .then( response => {
                    if(!this.isAuth){
                        AuthService.setAccessToken(response.data.token);
                        this.$store.commit('user/set', AuthService.setUser());
                        this.$router.push({ name: 'lang' });
                    }
                    else{
                        if(response.data.url){
                            this.$router.push(response.data.url);
                        }else{
                            this.$router.push({ name: 'lang' });
                        }
                    }
                })
                .catch( response =>  {
                    this.$toastr('error', response.data.error);
                    this.disabledSubmit = false;
                })
            }.bind(this), 1000);
        },
        playNow: function(id){
            if(confirm(this.$t('change-to-sub-account'))){
                this.$http.post('/user/' + id + '/login')
                .then( response => {
                    AuthService.logOut();
                    this.$store.commit('user/set', AuthService.setUser());
                    AuthService.setAccessToken(response.data.token);
                    this.$store.commit('user/set', AuthService.setUser());
                    SocketService.emit('processUserInfo', response.data.token);
                    this.$router.push({ name: 'lang'})
                })
            }
        },
        getSubAccount: function() {
            this.$http.get('/user/sub-account')
            .then( response => {
                this.sub_account = response.data.data;
            })
        }
    }
}
</script>
