<template>
    <div class="social-login">
        <div v-if="facebook_client_id" class="social--login-btn pr-1">
            <fb-signin-button
                :params="fbSignInParams"
                @success="onSignInSuccess"
                @error="onSignInError"
                class="btn-fb">
                {{ $t('login.sign_in_fb') }}
            </fb-signin-button>
        </div>

        <div v-if="google_client_id"  class="social--login-btn pl-1">
            <button v-google-signin-button="google_client_id" class="">{{ $t('login.sign_in_gg') }}</button>
        </div>
    </div>
</template>

<script>
import AuthService from '~/services/auth.service';
export default {
    props: {
        sub_id: ''
    },
    data(){
        return{
            isAuth: AuthService.isAuth,
            FB: undefined,
            facebook_client_id : '',
            google_client_id: '',
            fbSignInParams: {
                scope: '',
                return_scopes: true
            },
            affiliate_token: ''
        }
    },
    created() {
        this.getClientId('facebook_client_id') ;
        this.getClientId('google_client_id') ;
    },
    mounted() {
        if(localStorage.getItem('affiliate_token')){
            this.affiliate_token = localStorage.getItem('affiliate_token');
        }
        else{
            if (this.$session.exists()) {
                if(this.$session.get('affiliate_token')){
                    this.affiliate_token = this.$session.get('affiliate_token');
                }
            }
        }
    },
    methods:{
        // Function load SDK Facebook
        loadFbSdk(appId, version) {
            return new Promise(resolve => {
                window.fbAsyncInit = function () {
                    // eslint-disable-line func-names
                    FB.init({
                    appId,
                    xfbml: true, // parse XFBML
                    status : false, // check login status
                    version,
                    cookie: false // enable cookies to allow the server to access the session
                    });
                    FB.AppEvents.logPageView();
                    resolve('SDK Loaded!');
                };
                (function (d, s, id) {
                    // eslint-disable-line func-names
                    const fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) { return; }
                    const js = d.createElement(s); js.id = id;
                    js.src = '//connect.facebook.net/en_US/sdk.js';
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
            });
        },

        // Login with Facebook
        onSignInSuccess (response) {
            FB.api('/me', 'GET', { fields: 'id , name , email , picture.type(large)' },
            userInformation => {
                let data = {};
                data.id = userInformation.id;
                data.name = userInformation.name;
                data.email = userInformation.email;
                data.picture = userInformation.picture.data.url;
                data.sub_id = this.sub_id;
                data.aff_token = this.affiliate_token;
                this.$http.post('auth/facebook' , data)
                .then(response => {
                    const { loginRedirect } = this.$store.state;
                    AuthService.setAccessToken(response.data.token);
                    this.$store.commit('user/set', AuthService.setUser());
                    if(loginRedirect){
                        this.$router.push(loginRedirect);
                        this.$store.commit('setLoginRedicret', '');
                    }else{
                        this.$router.push({ name: 'lang' });
                    }
                })
                .catch(response => {
                    if(response.data.error){
                        this.$toastr('error', response.data.error);
                    }
                });
            })
        },
        onSignInError (error) {
            console.log('OH NOES', error)
        },

        // Function get CLIENT_ID facebook & google from setting
        getClientId(key) {
            this.$http.get("/auth/client-id?id=" + key)
            .then( res => {
                const data = res.data.data;
                if(key == "google_client_id")
                    this.google_client_id = data;
                else{
                    this.facebook_client_id = data;
                    this.loadFbSdk(data , 'v2.10');
                }
            })
            .catch( res => {
                console.log(res);
            });
        },

        // Login with google
        OnGoogleAuthSuccess (idToken) {
            let data = {};
            // Receive the idToken and make your magic with the backend
            this.$http.get('/auth/get-info-google?token='+idToken)
            .then( res => {
                data.id = res.data.payload.sub;
                data.name = res.data.payload.family_name +' '+ res.data.payload.given_name;
                data.picture = res.data.payload.picture;
                data.email = res.data.payload.email;
                data.sub_id = this.sub_id;
                data.aff_token = this.affiliate_token;
                this.$http.post('/auth/google' , data)
                .then( response => {
                   const { loginRedirect } = this.$store.state;
                    AuthService.setAccessToken(response.data.token);
                    this.$store.commit('user/set', AuthService.setUser());
                    if(loginRedirect){
                        this.$router.push(loginRedirect);
                        this.$store.commit('setLoginRedicret', '');
                    }else{
                        this.$router.push({ name: 'lang' });
                    }
                })
                .catch( response => {
                    if(response.data.error){
                        this.$toastr('error', response.data.error);
                    }
                })
            })
            .catch( res => {
                console.log(res);
            })

        },
        OnGoogleAuthFail (error) {},
    },
}
</script>