<template>
    <section>
        <div class="chat container w-50 mt-5">
            <div class="messages mt-5">
                <div id="content" class="chatApp__convTimeline">
                    <template v-if="globalObjectLength(msgs)">
                        <template v-for="(msg, index) in msgs">
                            <div :key="index" class="chatApp__convMessageItem clearfix" v-bind:class="[user.id == msg.sender_id.id ? 'chatApp__convMessageItem--right' : 'chatApp__convMessageItem--left']" v-on:mouseover="user.id == msg.sender_id.id ? mouseover(msg._id, index) : ''" v-on:mouseleave="user.id == msg.sender_id.id ? mouseleave(msg._id, index) : ''">
                                <img :src='globalImageUrl(msg.sender_id.avatar)' alt='' class="chatApp__convMessageAvatar" />
                                <div class="chatApp__convMessageValue" v-bind:class="['msg-'+ msg._id]" >
                                    <template v-if="user.id != msg.sender_id.id">
                                        <small><i>{{msg.sender_id.name}}</i></small><br>
                                    </template>
                                    {{msg.message}}
                                </div>
                                <div class='mt-2' v-bind:class="[user.id == msg.sender_id.id ? 'mr-4 float-right' : '', {'d-none': display}]">
                                    <button v-if="user.id == msg.sender_id.id" class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" title="Edit message!" @click="editMsg(msg._id, msg.message)">
                                        <i class="fa fa-edit mx-2" aria-hidden="true" ></i></button>
                                    <button v-if="user.id == msg.sender_id.id" type="button" class="btn btn-outline-danger btn-sm" data-toggle="tooltip" title="Delete message!" @click="deleteMsg(msg._id, index)">
                                        <i class="fa fa-trash mx-2" aria-hidden="true" ></i>
                                    </button>
                                </div>
                            </div>
                        </template>
                    </template>
                    <template v-else>
                        Not Messages in room.
                    </template>
                </div>
            </div>
            <div class="chatApp__convSendMessage clearfix">
                <div class="chatApp__convTyping"></div>
                <div class="input-group">
                    <input type="text" class="form-control chatApp__convInput" v-model="msg_input" placeholder="Type your message" v-on:keyup.enter="newMsg" autofocus>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
import UploadFile from '~/components/common/UploadFile.vue'
import AuthService from '~/services/auth.service';
import SocketService from '~/services/socket.service';

export default {
    head () {
        return {
            title: 'Chat now',
            link: [
                { rel: 'stylesheet', href: require('~/assets/build/css/main.css')}
            ],
        }
    },
    components: {
        UploadFile,
    },
    data() {
        return {
            display: true,
            msgs: '',
            msg_input: '',
            room_id: this.$route.params.id,
            user: this.$store.state.user.data,
            isAuth: AuthService.isAuth,
        }
    },
    created() {
        if(this.isAuth){
            this.getMsgs();
        }else{
            this.$router.push('/rooms/all');
        }
    },
    methods: {
        getMsgs: function() {
            this.$http.get(`room/${this.room_id}/msgs`)
            .then( res => {
                this.msgs = res.data.data;
            }).catch(err => {
                console.log(err);
            })
        },
        newMsg: function() {
            let data = {
                message: this.msg_input,
                room_id: this.room_id
            };
            this.$http.post(`room/${this.room_id}/msg/new`, data)
            .then( res => {
                this.msg_input = '';
                SocketService.emit('proccessNewMsg', res.data.data);
            }).catch( err => {
                console.log(err);
            })
        },
        editMsg: function(id, msg) {
            let msg_edit = prompt('Edit your message: ', msg);
            if(msg_edit != null){
                let data = {
                    id,
                    message: msg_edit,
                }
                this.$http.patch(`room/${this.room_id}/msg/${id}/update`, data)
                .then(res => {
                    let msg = res.data.data;
                    $('.msg-'+msg._id).html(msg.message);
                    SocketService.emit('proccessEditMsg', msg);
                }).catch(err => {
                    console.log(err);
                })
            }
        },
        deleteMsg: function(msg_id, index) {
            let delMsg = confirm('Delete it !');
            if(delMsg){
                this.$http.delete(`room/${this.room_id}/msg/${msg_id}/delete`)
                .then(res => {
                    let dt = { id: msg_id, index };
                    //this.msgs.splice(index,1);
                    SocketService.emit('proccessDeleteMsg', dt);
                }).catch(err => {
                    console.log(err);
                })
            }
        },
        mouseover: function(id, index) {
            if(this.msgs[index]._id == id){
                this.display = false;
            }
        },
        mouseleave: function(id, index) {
            if(this.msgs[index]._id == id){
                this.display = true;
            }
        },
    },
    mounted() {
        const socket = SocketService.socket;
        socket.on('updateEditMsg', function(msg){
            $('.msg-'+msg._id).html(msg.message);
        });

        socket.on('updateDeleteMsg', function(data){
            if(this.msgs[data.index]._id == data.id){
                this.msgs.splice(data.index, 1);
            }
        }.bind(this));

        socket.on('updateNewMsg', function(data){
            this.msgs.unshift(data);
        }.bind(this));
    }
}
</script>