<template>
    <input type="file" class="form-control" @change="convertBase64" accept="image/x-png,image/gif,image/jpeg">
</template>

<script>
export default {
    props: {
        name: '',
    },
    methods: {
        convertBase64: function(event){
            try{
                var f = event.target.files[0];
                var reader = new FileReader();

                // Closure to capture the file information.
                reader.onload = (function(theFile) {
                    return function(e) {
                        var binaryData = e.target.result;
                        this.$emit('onChangeImage', {base64String: window.btoa(binaryData), name: this.name});
                    }.bind(this);
                }.bind(this))(f);
                reader.readAsBinaryString(f);              
            }catch(err){
                this.$emit('onChangeImage', {base64String: '', name: this.name});
            } 
        },
    }
}
</script>
