<template>
    <div>
        <template v-if="load">
            <div class="text-center mt-3">
                <PulseLoader :color="'#6789bb'" :size="'20px'"/>
            </div>
        </template>
        <template v-else>
            <template v-if="!errorMessage && leagues">
                <div class="gl-clevebet-scoreboard border border-dark">
                    <template v-for="(matches, league_index) in leagues">
                        <div class="title-sports-tournament d-flex gl-bg-1 py-1" :key="league_index" v-if="matches.length">
                            <div class="sports-tournament-name mx-auto">
                                <h5 class="mb-0 text-uppercase">
                                    <i class="fas mr-2" :class="matches[0].sport.icon"></i> {{ league_index }}
                                 </h5>
                            </div>
                        </div>
                        <template v-for="(match, match_index) in matches">
                            <div class="gl-bet-table">
                                <div class="d-md-flex text-center justify-content-center text-uppercase border-top border-primary py-1">
                                    <div class="home">
                                        <h6 class="mb-0 text-primary">{{ match.home.name }}</h6>
                                    </div>
                                    <div class="note px-2">
                                        <h6 class="mb-0">vs</h6>
                                    </div>
                                    <div class="away">
                                        <h6 class="mb-0 text-danger">{{ match.away.name }}</h6>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <template v-if="match.time_status == 1">
                                        <div class="sport-status justify-content-center d-flex mr-2">
                                            <div class="text-danger font-weight-bold">Live</div>
                                        </div>
                                        <div class="score justify-content-center d-flex">
                                            {{ match.time_status == 1 ? match.show_score : '' }}
                                        </div>
                                        <div class="pl-2 text-info" v-if="match.time_status == 1 && match.timer">
                                            {{ match.timer.tm }}:{{ match.timer.ts }} <i class="far fa-clock"></i>
                                        </div>
                                    </template>
                                    <template v-else>
                                        <div class="score justify-content-center d-flex text-danger font-weight-bold">
                                            {{ $t('bet.match_start') }}
                                        </div>
                                        <div class="sport-status justify-content-center d-flex"> 
                                            <div class="pl-2 text-info">{{ globalConvertTimestamp(match.time, 'DD/MM/YYYY HH:mm') }} <i class="far fa-clock"></i></div>
                                        </div>
                                    </template>
                                </div>
                                <template v-for="n in marketRowsLength(match.markets)">
                                    <div class="gl-table-header bg-white" v-if="n < 5 || checkShowSubBet(league_index, match_index)">
                                        <div class="">
                                            <template v-for="m in 1">
                                                <div class="col-12 px-0 row m-0 gl-bg-hover-acc1e8">
                                                    <div class="w-100" v-if="match.markets[marketIndex(n, m)]">
                                                        <div class="text-center border-bottom border-primary font-weight-bolder gl-bg-25a5dc text-white py-2">
                                                            <h6 class="m-0">{{ match.markets[marketIndex(n, m)].name }}</h6>
                                                        </div>
                                                        <template v-if="match.markets[marketIndex(n, m)].odds.length == 2">
                                                            <div class="d-flex">
                                                                <div class="col-4 text-center text-primary my-auto py-2">{{ match.markets[marketIndex(n, m)].odds[0].name == 1 ? match.home.name : match.markets[marketIndex(n, m)].odds[0].name }}</div>
                                                                <div class="col-4 text-center my-auto py-2">HDC</div>
                                                                <div class="col-4 text-center text-danger my-auto py-2">{{ match.markets[marketIndex(n, m)].odds[1].name == 2 ? match.away.name : match.markets[marketIndex(n, m)].odds[1].name }}</div>
                                                            </div>
                                                        </template>
                                                        <template v-else>
                                                            <div class="d-flex">
                                                                <div class="col-4 text-center text-primary my-auto py-2">{{ match.markets[marketIndex(n, m)].odds[0].name == 1 ? match.home.name : match.markets[marketIndex(n, m)].odds[0].name }}</div>
                                                                <div class="col-4 text-center my-auto py-2">{{ match.markets[marketIndex(n, m)].odds[1].name }}</div>
                                                                <div class="col-4 text-center text-danger my-auto py-2">{{ match.markets[marketIndex(n, m)].odds[2].name == 2 ? match.away.name : match.markets[marketIndex(n, m)].odds[2].name }}</div>
                                                            </div>
                                                        </template>
                                                    </div>
                                                    <template v-if="match.markets[marketIndex(n, m)]">
                                                        <div class="d-flex w-100" v-if="match.markets[marketIndex(n, m)].suspend == 0">
                                                            <template v-if="match.markets[marketIndex(n, m)].odds[0].data && match.markets[marketIndex(n, m)].odds[0].data != '-'">
                                                                <div data-toggle="modal" data-target="#myPopupBet" class="col-4 px-0 text-center text-primary py-1 gl-bet-status accept" @click="selectOdd(0, marketIndex(n, m), match_index, league_index)">
                                                                    <div class="d-flex align-items-center h-100 justify-content-center">
                                                                        {{ formatOdd(match.markets[marketIndex(n, m)].odds[0].data) }}
                                                                    </div>
                                                                </div>
                                                            </template>
                                                            <template v-else>
                                                                <div class="col-4 px-0 text-center text-primary py-1 align-items-center">-</div>
                                                            </template>

                                                            <template v-if="match.markets[marketIndex(n, m)].odds.length == 2">
                                                                <div class="col-4 px-0 py-1">
                                                                    <div class="d-flex align-items-center h-100 justify-content-center">
                                                                        {{ match.markets[marketIndex(n, m)].hdc }}
                                                                    </div>
                                                                </div>
                                                            </template>
                                                            <template v-else>
                                                                <template v-if="match.markets[marketIndex(n, m)].odds[1].data && match.markets[marketIndex(n, m)].odds[1].data != '-'">
                                                                    <div data-toggle="modal" data-target="#myPopupBet" class="col-4 px-0 py-1 gl-bet-status warning" @click="selectOdd(1, marketIndex(n, m), match_index, league_index)">
                                                                        <div class="d-flex align-items-center h-100 justify-content-center">
                                                                            {{ formatOdd(match.markets[marketIndex(n, m)].odds[1].data) }}
                                                                        </div>
                                                                    </div>
                                                                </template>
                                                                <template v-else>
                                                                    <div class="col-4 px-0 text-center py-1">-</div>
                                                                </template>
                                                            </template>
                                                            
                                                            <template v-if="match.markets[marketIndex(n, m)].odds.length == 2">
                                                                <template v-if="match.markets[marketIndex(n, m)].odds[1].data && match.markets[marketIndex(n, m)].odds[1].data != '-'">
                                                                    <div data-toggle="modal" data-target="#myPopupBet" class="col-4 px-0 text-center text-danger py-1 gl-bet-status cancel" @click="selectOdd(1, marketIndex(n, m), match_index, league_index)">
                                                                        <div class="d-flex align-items-center h-100 justify-content-center">
                                                                            {{ formatOdd(match.markets[marketIndex(n, m)].odds[1].data) }}
                                                                        </div>
                                                                    </div>
                                                                </template>
                                                                <template v-else>
                                                                    <div class="col-4 px-0 text-center text-danger py-1">-</div>
                                                                </template>
                                                            </template>
                                                            <template v-else>
                                                                <template v-if="match.markets[marketIndex(n, m)].odds[2].data && match.markets[marketIndex(n, m)].odds[2].data != '-'">
                                                                    <div data-toggle="modal" data-target="#myPopupBet" class="col-4 px-0 text-center text-danger py-1 gl-bet-status cancel" @click="selectOdd(2, marketIndex(n, m), match_index, league_index)">
                                                                        <div class="d-flex align-items-center h-100 justify-content-center">
                                                                            {{ formatOdd(match.markets[marketIndex(n, m)].odds[2].data) }}
                                                                        </div>
                                                                    </div>
                                                                </template>
                                                                <template v-else>
                                                                    <div class="col-4 px-0 text-center text-danger py-1">-</div>
                                                                </template>
                                                            </template>
                                                        </div>
                                                        <div class="d-flex w-100 " v-else>
                                                            <div class="col-4 px-0 text-center text-primary py-1">-</div>
                                                            <div class="col-4 px-0 text-center py-1">-</div>
                                                            <div class="col-4 px-0 text-center text-danger py-1">-</div>
                                                        </div>
                                                    </template>
                                                </div>
                                            </template>
                                        </div>
                                    </div>
                                </template>

                                <template v-if="match.markets.length > 4">
                                    <div @click="lessMore(league_index, match_index)" v-if="checkShowSubBet(league_index, match_index)">
                                        <div class="text-center border border-secondary bg-dark gl-a-color-hover">- Less <i class="fas fa-chevron-up"></i></div>
                                    </div>
                                    <div @click="showMore(league_index, match_index)" v-else>
                                        <div class="text-center border border-secondary bg-dark gl-a-color-hover">+ More <i class="fas fa-chevron-down"></i></div>
                                    </div>
                                </template>
                                <template v-else>
                                    <div>
                                        <div class="text-center border border-secondary bg-dark gl-a-color-hover">-</div>
                                    </div>
                                </template>
                            </div>
                        </template>
                    </template>
                </div>
            </template>
            <template v-else>
                <div class="text-center mt-3">
                    {{ errorMessage }}
                </div>
            </template>
        </template>
        <BetModal :showLive="showLive" :betPermisson="betPermisson" :leagues="leagues" :oldLeagues="oldLeagues" :oddSelected="oddSelected" :oddDefine="oddDefine" :schedule="schedule"/>
    </div>
</template>
<script>
import BetTableMixin from './BetTableMixin.vue';

export default {
    mixins: [
        BetTableMixin
    ],
    created() {
        this.getMatches('init');
    },
}
</script>