<template>
    <div v-if="betPermisson">
        <div class="modal" id="myPopupBet">
            <div class="modal-dialog" v-if="oddSelected && leagues[oddSelected.league_index] && leagues[oddSelected.league_index][oddSelected.match_index]">
                <div class="modal-content form-group">
                    <div class="title-sports-tournament d-flex gl-bg-1 py-1 modal-header w-100">
                        <div class="sports-tournament-name">
                            <h5 class="mb-0 text-uppercase">
                                <i class="fas fa-futbol mr-2"></i> {{ leagues[oddSelected.league_index][oddSelected.match_index].league.name }}
                            </h5>
                        </div>
                        <div class="position-absolute btn-right">
                            <button type="button" class="close" data-dismiss="modal" id="closeModal">
                                &times;
                            </button>
                        </div>
                    </div>
                    <div class="sports-math w-100 py-2 bg-dark modal-body">
                        <div class="d-md-flex justify-content-center text-uppercase text-center">
                            <div class="home">
                                <h6 class="mb-0 text-primary">{{ leagues[oddSelected.league_index][oddSelected.match_index].home.name }}</h6>
                            </div>
                            <div class="note px-2 gl-color-1">
                                <h6 class="mb-0">vs</h6>
                            </div>
                            <div class="away">
                                <h6 class="mb-0 text-danger">{{ leagues[oddSelected.league_index][oddSelected.match_index].away.name }}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer d-block">
                        <div class="w-100 text-uppercase mb-2 text-center">
                            <span class="mr-2">{{ leagues[oddSelected.league_index][oddSelected.match_index].markets[oddSelected.type_index].name }}</span>
                            <template v-if="leagues[oddSelected.league_index][oddSelected.match_index].markets[oddSelected.type_index].hdc != '-'">
                                <div class="mr-1 mt-2">
                                    <span>HDC:</span>
                                    <span class="text-primary">{{ leagues[oddSelected.league_index][oddSelected.match_index].markets[oddSelected.type_index].hdc }}</span>
                                </div>
                            </template>
                            <template v-if="leagues[oddSelected.league_index][oddSelected.match_index].markets[oddSelected.type_index].odds[oddSelected.odd_index].data != '-'">
                                <div class="mr-1 mt-2">
                                    <span v-if="leagues[oddSelected.league_index][oddSelected.match_index].markets[oddSelected.type_index].odds[oddSelected.odd_index].name == 1">
                                        {{ leagues[oddSelected.league_index][oddSelected.match_index].home.name }}:
                                    </span>
                                    <span v-else-if="leagues[oddSelected.league_index][oddSelected.match_index].markets[oddSelected.type_index].odds[oddSelected.odd_index].name == 2">
                                        {{ leagues[oddSelected.league_index][oddSelected.match_index].away.name }}:
                                    </span>
                                    <span v-else>
                                        {{ leagues[oddSelected.league_index][oddSelected.match_index].markets[oddSelected.type_index].odds[oddSelected.odd_index].name }}:
                                    </span>
                                    <span class="text-danger">
                                        {{ formatOdd(leagues[oddSelected.league_index][oddSelected.match_index].markets[oddSelected.type_index].odds[oddSelected.odd_index].data) }}
                                    </span>
                                </div>
                            </template>
                            <template v-else>
                                <div class="mr-1 mt-2">-</div>
                            </template>
                        </div>
                        <div class="w-100 height-40 text-uppercase d-block text-center" v-if="leagues[oddSelected.league_index][oddSelected.match_index].markets[oddSelected.type_index].odds[oddSelected.odd_index].data != '-'">  
                            <template v-if="schedule.type == 'weekly'">
                                <button class="gl-btn gl-bg-1 gl-size-normal" type="button" @click="submitBet('all_in')">
                                    <span v-if="disabledSubmit">
                                        <PulseLoader :color="'white'" :size="'10px'"/>
                                    </span>
                                    <span v-else>
                                        {{ $t('bet.all_in') }}
                                    </span>
                                </button>
                                <button class="gl-btn ml-2 gl-bg-2 gl-color-1 gl-size-normal" type="button" @click="submitBet('half_point')">
                                    <span v-if="disabledSubmit">
                                        <PulseLoader :color="'white'" :size="'10px'"/>
                                    </span>
                                    <span v-else>
                                        {{ $t('bet.half_point') }}
                                    </span>
                                </button>    
                            </template>
                            <template v-else>
                                <input class="col-4 mr-2 modal-footer__input text-center" :placeholder="$t('bet.enter_point')" v-model="point" v-on:keyup.enter="submitBet('')">
                                <button class="col-4 modal-footer__btn gl-bg-1 gl-size-normal" type="button" @click="submitBet('')" :disabled="disabledSubmit">
                                    <span v-if="disabledSubmit">
                                        <PulseLoader :color="'white'" :size="'10px'"/>
                                    </span>
                                    <span v-else>
                                        {{ $t('bet.place_bet') }}
                                    </span>
                                </button>
                            </template>
                        </div>
                        <div class="w-100 text-danger mt-2 text-center" v-if="error">
                            {{ error }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import SocketService from '~/services/socket.service';
import PulseLoader from 'vue-spinner/src/PulseLoader.vue';

export default {
    components: {
        PulseLoader,
    },
    props: {
        showLive: '',
        betPermisson: '',
        leagues: '',
        oldLeagues: '',
        oddSelected: '',
        oddDefine: '',
        schedule: '',
    },
    data() {
        return {
            point: '',
            error: '',
            disabledSubmit: false,
        }
    },
    methods: {
        checkOdd: function(odd, match) {
            if(!this.showLive){
                return true;
            }else{
                if(this.oddDefine != 1){
                    let odd_score = odd.ss;
                    if(!odd_score){
                        return false;
                    }
                    let match_score = match.ss;

                    let dash_split = odd_score.split('-');
                    let colon_split = odd_score.split(':');
                    let comma_split = odd_score.split(',');
        
                    let match_split = match_score.split('-');
                    if(dash_split.length > 1){
                        if(dash_split[0] != match_split[0] || dash_split[1] != match_split[1]){
                            return false;
                        }
                        return true;
                    }
                    if(colon_split.length > 1){
                        if(colon_split[0] != match_split[0] || colon_split[1] != match_split[1]){
                            return false;
                        }
                        return true;
                    }
                    if(comma_split.length > 1){
                        match_split = match_score.split(',');
                        if(comma_split[0] != match_split[0] || comma_split[1] != match_split[1]){
                            return false;
                        }
                        return true;
                    }
                    return true;
                }else{
                    let odd_timer = odd.time_str;
                    if(!odd_timer){
                        return false;
                    }else{
                        // Get current timer from match
                        let match_timer = match.timer.tm;
                        if(parseInt(odd_timer) < parseInt(match_timer - 1)){
                            return false;
                        }
                        if(parseInt(odd_timer - 1) > parseInt(match_timer)){
                            return false;
                        }
                        return true;
                    } 
                }
            }
        },
        formatOdd: function(odd) {
            odd = parseFloat(odd).toFixed(2);
            return odd;
        },
        submitBet: function(type) {
            let user_join = this.schedule.schedule_users[0];
            let point = 0;
            if(!type) {
                point = this.point;
            }else{
                if(type == 'all_in'){
                    point = user_join.point;
                }else if(type == 'half_point'){
                    point = user_join.point / 2;
                }
            }
            let error = '';
            if(isNaN(point) || point <= 0){
                error = this.$t('bet.invalid_point');
            }else{
                if(point > user_join.point){
                    error = this.$t('bet.not_enough_point');
                }
            }
            if(!point){
                error = this.$t('bet.required_point');
            }
            this.error = error
            if(!this.error){
                this.disabledSubmit = true;
                let oddSelected = this.oddSelected;
                let leagues = this.leagues;
                let match = leagues[oddSelected.league_index][oddSelected.match_index];
                let handicap = match.markets[oddSelected.type_index].odds[oddSelected.odd_index].hdc ? match.markets[oddSelected.type_index].odds[oddSelected.odd_index].hdc : '';
                const data = {
                    match_id: match.id,
                    user_id: user_join.user_id,
                    schedule_id: this.schedule.id,
                    odd: this.formatOdd(match.markets[oddSelected.type_index].odds[oddSelected.odd_index].data),
                    type: match.markets[oddSelected.type_index].slug,
                    team: match.markets[oddSelected.type_index].odds[oddSelected.odd_index].name,
                    status: 'pending',
                    point,
                }
                if(handicap){
                    data.handicap = handicap;
                }
                this.$http.post('/bet', data)
                .then( response => {
                    let closeModal = document.getElementById('closeModal');
                    if(closeModal){
                        closeModal.click();
                    }
                    this.point = '';
                    this.$toastr('success', response.data.message);
                    SocketService.emit('processPlayer', data.schedule_id);
                    SocketService.emit('processBettor', data.user_id);
                })
            }else{
                this.disabledSubmit = false;
            }
        }
    }
}
</script>