<template>
    <div class="col px-0">
        <div class="gl-clevebet-scoreboard border border-dark">
            <div class="title-sports-tournament d-flex gl-bg-1 py-1">
                <div class="sports-tournament-name text-center">
                    <h5 class="mb-0 text-uppercase">
                        <i class="fas mr-2 fa-futbol"></i>
                        AUSTRALIA NEW SOUTH WALES PREMIER LEAGUE
                    </h5>
                </div>
            </div>
            <div class="gl-bet-table">
                <div class="gl-table-header gl-bg-d2dee2 border border-primary">
                    <div class="text-center text-uppercase border-bottom border-primary py-1">
                        <div class="home">
                            <h6 class="mb-0 text-primary">home</h6>
                        </div>
                        <div class="note px-2">
                            <h6 class="mb-0">vs</h6>
                        </div>
                        <div class="away">
                            <h6 class="mb-0 text-danger">away</h6>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="sports-math col-3 px-0">
                            <div class="sport-status justify-content-center d-flex">
                                <div class="text-danger font-weight-bold">Live</div>
                            </div>
                            <div class="score justify-content-center d-flex">
                                0-0
                            </div>
                            <div class="sport-time justify-content-center d-flex">
                                53:00
                            </div>
                        </div>
                        <div class="col-9 px-0 border-left border-primary d-flex gl-bg-hover-acc1e8 position-relative dropdown" id="dropdownBetType" data-toggle="dropdown">
                            <div class="my-auto w-100">
                                <div class="text-center border-bottom border-primary">
                                    <h6>1 X 2</h6>
                                </div>
                                <div class="d-flex">
                                    <div class="col-4 text-center text-primary">1</div>
                                    <div class="col-4 text-center">X</div>
                                    <div class="col-4 text-center text-danger">2</div>
                                </div>
                            </div>
                            <div class="dropdown-menu w-100" aria-labelledby="dropdownBetType">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="border border-info gl-table-body">
                    <div class="main-bet">
                        <div class="d-flex">
                            <div class="col-3 my-auto py-1 px-0 text-center">
                                Full time
                            </div>
                            <div class="col-9 px-0 border-left border-info">
                                <div class="d-flex">
                                    <div data-toggle="modal" data-target="#myPopupBet" class="col-4 px-0 text-center text-primary py-1 gl-bet-status accept">
                                        190.5
                                    </div>
                                    <div data-toggle="modal" data-target="#myPopupBet" class="col-4 px-0 text-center py-1 bg-white">
                                        +0.5,+1.0
                                    </div>
                                    <div data-toggle="modal" data-target="#myPopupBet" class="col-4 px-0 text-center text-danger py-1 gl-bet-status cancel">
                                        +0.5,+1.0
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sub-bet"></div>
                </div>
                <div>
                    <div class="text-center border border-secondary bg-dark gl-a-color-hover">
                        <i class="fas fa-plus-circle"></i> More
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    
</script>