<template>
    <div class="col col-xl-9 px-0">
        <template v-if="$route.name == 'lang-bet'">
            <AllMatches :showLive="showLive" :betPermisson="betPermisson" :schedule="schedule" :changeSport="changeSport" @allowChangeSport="allowChangeSport"/>
        </template>
        <template v-else-if="schedule && schedule.type == 'weekly'">
            <AllMatches :showLive="showLive" :betPermisson="betPermisson" :schedule="schedule" :changeSport="changeSport" @allowChangeSport="allowChangeSport"/>
        </template>
        <template v-else-if="schedule && schedule.type != 'weekly'">
            <SingleMatch :showLive="showLive" :betPermisson="betPermisson" :schedule="schedule" :changeSport="changeSport" @allowChangeSport="allowChangeSport"/>
        </template>
    </div>
</template>
<script>
import AllMatches from './AllMatches.vue';
import SingleMatch from './SingleMatch.vue';

export default {
    components: {
        AllMatches,
        SingleMatch
    },
    props: {
        showLive: '',
        betPermisson: '',
        schedule: '',
    },
    data() {
        return {
            changeSport: true,
        }
    },
    methods: {
        allowChangeSport: function(data) {
            this.changeSport = data.changeSport;
        }
    },
    watch: {
        changeSport: function() {
            this.$emit('allowChangeSport', { changeSport: this.changeSport });
        }
    }
}
</script>