<template>
	<div class="sports-filters col-xl-3 col-12 px-0  border border-dark">
        <div class="sport-bet-option px-0 gl-bg-tournament text-center text-uppercase gl-color-1 py-1">
            {{ $t('bet.sports') }}
        </div>
        <div class="sport-bet-option-list gl-bg-e1e9fe d-xl-block d-flex">
            <template v-for="(sport, index) in sports">
                <template v-if="schedule.type == 'weekly' || $route.name == 'lang-bet'">
                    <div class="filters d-flex border-bottom border-dark p-xl-1 p-xl-1 px-3 py-2" :class="activeSport == sport.slug ? 'active' : ''" :id="sport.slug" @click="selectSport(sport.slug)">
                        <div class="name d-xl-flex d-block text-center text-xl-left">
                            <i class="fas mr-2 my-auto" :class="sport.icon"></i>
                            <p class="m-0">{{ sport.name }}</p>
                        </div>
                    </div>
                </template>
                <template v-else>
                    <div class="filters d-flex border-bottom border-dark p-xl-1 p-xl-1 px-3 py-2 active" :id="sport.slug" v-if="sport.id == schedule.sport_id">
                        <div class="name d-xl-flex d-block text-center text-xl-left">
                            <i class="fas mr-2 my-auto" :class="sport.icon"></i>
                            <p class="m-0">{{ sport.name }}</p>
                        </div>
                    </div>
                </template> 
            </template>
        </div>
    </div>
</template>
<script>
    export default {
        props: {
            sports: '',
            showLive: '',
            schedule: '',
            changeSport: '',
        },
        data() {
            return {
                activeSport: this.$route.query.sport ? this.$route.query.sport : 'soccer',
            }
        },
        created() {
            this.processQuery();
        },
        methods: {
            selectSport: function(sport) {
                if(this.changeSport){
                    this.activeSport = sport;
                }
            },
            processQuery: function() {
                if(this.changeSport){
                    if(this.schedule.type == 'weekly' || this.$route.name == 'lang-bet'){
                        this.$router.push({ query: { sport: this.activeSport, status: this.showLive ? 'live' : 'prematch' } });
                    }
                }
            }
        },
        watch: {
            showLive: function(){
                this.processQuery();
            },
            activeSport: function(){
                this.processQuery();
            },
        }
    }
</script>