<template v-if="isAuth">
    <div class="container w-50 mt-5 bg-light p-3">
        <h3 class="mt-5">{{ $route.params.id ? 'Edit' : 'Create' }}</h3>
        <form class="mt-5">
            <div class="form-group">
                <label for="exampleInputEmail1">Name</label>
                <input type="text" class="form-control" v-model="name" placeholder="Enter room name">
            </div>
            <div class="form-group mt-2">
                <label for="exampleInputEmail1">Picture</label>
                <div class="my-4">
                    <img v-if="img" :src="globalImageUrl(img)" width="250" height="130">
                </div>
                <UploadFile name="image" @onChangeImage="changeImage"></UploadFile>
            </div>
            <button type="button" class="btn btn-primary" :disabled="disabledSubmit" @click="submit" >Submit</button>
        </form>
    </div>
</template>
<script>
import UploadFile from '~/components/common/UploadFile.vue'
import AuthService from '~/services/auth.service';
import SocketService from '~/services/socket.service';

export default {
    components: {
        UploadFile,
    },
    data() {
        return {
            disabledSubmit: false,
            isAuth: AuthService.isAuth,
            name: '',
            image: '',
            img: '',
            id: ''
        }
    },
    created(){
        if(!this.isAuth){
            this.$router.push('/');
        }else{
            this.getRoomInfo();
        }
    },
    methods: {
        changeImage: function(data){
            this[data.name] = data.base64String;
        },
        getRoomInfo: function(){
            this.$http.get(`/room/${this.$route.params.id}/edit`)
            .then( res => {
                this.id = this.$route.params.id;
                let room = res.data.data; 
                this.name = room.name;
                this.img = room.image;
            }).catch( function(err){
                this.$router.push('/error');
            })
        },
        submit: function(){
            let data = {};
            data.name = this.name;
            data.image = this.image;
            data.old_img = this.img;
            this.$http.patch(`/room/${this.id}/update`, data)
            .then((response) => {
                SocketService.emit('proccessRoom',this.$store.state.user.data.id);
                this.$router.push('/rooms/my');
                this.$toastr('success', response.data.message);
            }).catch((err) => {
                if(err.status == 422){
                    let dt = err.data;
                    dt.forEach(er => {
                        this.$toastr('error', er.msg);
                    });
                }
                else{
                    this.$toastr('error', err.data.message);
                }
            });
        }
    }
}
</script>