<template v-if="isAuth">
    <section class="container bg-light" style="height: 100%;
    position: absolute;
    top: 50%;
    transform: translate(15%, -50%);">
        <div class="mt-2">
            <h1>efijeifeij</h1>
        </div>
        <h3 class="mt-5">Chat rooms</h3>
        <table class="table mt-5">
            <thead>
                <tr>
                    <th></th>
                    <th>Room ID</th>
                    <th>Name</th>
                    <th>Admin</th>
                    <th>User</th>
                    <th>Created</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <template v-if="globalObjectLength(rooms)">
                    <template v-for="(room, index) in rooms">
                        <tr :key="index">
                            <td>
                                <img :src="globalImageUrl(room.image)" width="50" height="50"/>
                            </td>
                            <td>{{room._id}}</td>
                            <td>{{room.name}}</td>
                            <td>{{room.users[0].name}}</td>
                            <td>{{room.users.length}}</td>
                            <td>{{moment(room.created).format('DD-MM-YYYY')}}</td>
                            <td v-if="!isJoined(room)">
                                <button class="btn btn-primary" @click="join(room, index)">Join</button>
                            </td>
                            <td v-else>
                                <button class="btn btn-primary" @click="chat(room)">Chat</button>
                            </td>
                        </tr>
                    </template>
                </template>
                <template v-else>
                    <tr>Chat Room empty</tr>
                </template>
            </tbody>
        </table>
    </section>
</template>
<script>
import moment from 'moment';
import AuthService from '~/services/auth.service';
import SocketService from '~/services/socket.service';
export default {
    data(){
        return {
            rooms: [],
            joined: false,
            isAuth: AuthService.isAuth,
            user: this.$store.state.user.data,
        }
    },
    created() {
        if(!this.isAuth){
            this.$router.push('/');
        }else{
            this.getListRoom();
        }
    },
    methods:{
        isJoined: function(room) {
            const users = room.users;
            for (const user of users) {
                if(user.user_id == this.user.id){
                    return true;
                }
            }
            return false;
        },
        moment: function () {
            return moment();
        },
        getListRoom: function() {
            let urlApi = '/room/all';
            this.$http.get(urlApi)
            .then(response => {
                this.rooms = response.data.data;
            })
            .catch(err => {
                this.$toastr('error', err.data.message);
            })
        },
        chat: function(room){
            this.$router.push('/chat/'+room._id);
        },
        join: function(room, index) {
            let data = {
                user: this.user,
                room_id: room._id
            }
            this.$http.post('/room/'+room._id+'/join', data)
            .then(res => {
                let dt = {
                    room,
                    index
                }
                this.$toastr('success', res.data.message);
                SocketService.emit('proccessRoom', dt);
            }).catch(err => {
                console.log(err);
            })
        }
    },
    mounted() {
        const socket = SocketService.socket;
        socket.on('updateRoom', function(data){
            this.getListRoom();
        }.bind(this));
    }
}
</script>
