<template v-if="isAuth">
    <div class="container w-50 mt-5 bg-light p-3" style="height: 80%;
    position: absolute;
    top: 50%;
    transform: translate(50%, -50%);">
        <h3 class="mt-5">{{ $route.params.id ? 'Edit' : 'Create' }}</h3>
        <form class="mt-5">
            <div class="form-group">
                <label for="exampleInputEmail1">Name</label>
                <input type="text" class="form-control" v-model="name" placeholder="Enter room name">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Picture</label>
                <UploadFile name="image" @onChangeImage="changeImage"></UploadFile>
            </div>
            <button type="button" class="btn btn-primary" :disabled="disabledSubmit" @click="submit" >Submit</button>
        </form>
    </div>
</template>
<script>
import UploadFile from '~/components/common/UploadFile.vue'
import SocketService from '../../services/socket.service';
import AuthService from '~/services/auth.service';

export default {
    components: {
        UploadFile,
    },
    data() {
        return {
            disabledSubmit: false,
            isAuth: AuthService.isAuth,
            name: '',
            image: '',
        }
    },
    created() {
        if(!this.isAuth){
            this.$router.push('/');
        }
    },
    methods: {
        changeImage: function(data){
            this[data.name] = data.base64String;
        },
        submit: function(){
            let data = {};
            data.name = this.name;
            data.image = this.image;
            this.$http.post('/room/create', data)
            .then((response) => {
                SocketService.emit('proccessCreateRoom',this.$store.state.user.data.id);
                this.$toastr('success', response.data.message);
                this.$router.push('my');
            }).catch((err) => {
                if(err.status == 422){
                    let dt = err.data;
                    dt.forEach(er => {
                        this.$toastr('error', er.msg);
                    });
                }
                else{
                    this.$toastr('error', err.data.message);
                }
            });
        }
    }
}
</script>