<template v-if="isAuth">
    <section class="container bg-light" style="height: 100%;
    position: absolute;
    top: 50%;
    transform: translate(15%, -50%);">
        <div class="mt-2">
            <h1>efijeifeij</h1>
        </div>
        <h3 class="mt-5">Chat rooms</h3>
        <table class="table mt-5">
            <thead>
                <tr>
                    <th></th>
                    <th>Room ID</th>
                    <th>Name</th>
                    <th>Admin</th>
                    <th>User</th>
                    <th>Created</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <template v-if="globalObjectLength(rooms)">
                    <template v-for="(room, index) in rooms">
                        <tr :key="index">
                            <td>
                                <img :src="globalImageUrl(room.image)" width="50" height="50"/>
                            </td>
                            <td>{{room._id}}</td>
                            <td>{{room.name}}</td>
                            <td>{{room.users[0].name}}</td>
                            <td>{{room.users.length}}</td>
                            <td>{{moment(room.created).format('DD-MM-YYYY')}}</td>
                            <td>
                                <button class="btn btn-success" @click="chat(room)">Chat</button>
                                <button class="btn btn-primary" @click="edit(room._id)">Edit</button>
                                <button class="btn btn-warning" @click="del(room._id)">Delete</button>
                            </td>
                        </tr>
                    </template>
                </template>
                <template v-else>
                    <tr>Chat Room empty</tr>
                </template>
            </tbody>
        </table>
    </section>
</template>
<script>
import moment from 'moment';
import AuthService from '~/services/auth.service';
import SocketService from '~/services/socket.service';
export default {
    data(){
        return {
            rooms: [],
            isAuth: AuthService.isAuth,
        }
    },
    created() {
        if(!this.isAuth){
            this.$router.push('/');
        }else{
            this.getListRoom();
        }
    },
    methods:{
        moment: function () {
            return moment();
        },
        getListRoom: function() {
            this.$http.get('/room/me')
            .then(response => {
                this.rooms = response.data.data;
            })
            .catch(err => {
                if(err.status != 200){
                    this.$toastr('error', err.data.message);
                }
            })
        },
        edit: function(id) {
            this.$router.push('update/'+id);
        },
        del: function(id) {
            this.$http.delete(`/room/${id}/delete`)
            .then(res => {
                SocketService.emit('proccessRoom', this.$store.state.user.data.id);
                this.getListRoom();
                this.$toastr('success', res.data.message);
            }).catch(err => {
                this.$toastr('error', err.data.message);
            })
        },
        chat: function(room){
            this.$router.push('/chat/'+room._id);
        },
    },
    mounted() {
        const socket = SocketService.socket;
        socket.on('updateRoom', function(data){
            if(this.isAuth && data == this.$store.state.user.data.id){
                this.getListRoom();
            }
        }.bind(this));
    }
}
</script>
