<template v-if="isAuth">
    <section class="container mt-5 bg-light p-3" style="height: 80%;
    position: absolute;
    top: 50%;
    transform: translate(15%, -50%);">
        <div class="row">
            <div class="col-lg-4 user-avatar mt-5">
                <img :src="userInfo.image ? globalImageUrl(userInfo.image) : globalImageUrl('images-asset/def-avatar.png')" alt="" width="250" height="200">
                <UploadFile name="image" @onChangeImage="changeImage" />
            </div>
            <div class="col-lg-6 offset-lg-1 personal-info mt-5">
                <div class="row">
                    <h5>Name</h5>
                    <input type="text" class="form-control" v-model="userInfo.name">
                </div>
                <div class="row">
                    <h5>Username</h5>
                    <input type="text" class="form-control" v-model="userInfo.username" disabled>
                </div>
                <div class="row">
                    <h5>Email</h5>
                    <input type="text" class="form-control" v-model="userInfo.email" disabled>
                </div>
                <div class="row">
                    <h5>
                        Password
                    </h5>
                    <div class="d-flex">
                        <!-- current password -->
                        <input type="password" v-model="userInfo.current_psw" placeholder="current password">

                        <!-- new password -->
                        <input type="password" v-model="userInfo.new_psw" placeholder="New password" >
                        
                        <!-- confirm password -->

                        <input type="password" v-model="userInfo.confirm_psw" placeholder="confirm password">
                    </div>
                    <div class="row mt-4 ml-2">
                    <button class="btn btn-primary" :disabled="disabledSubmit" @click="submitProfile" >Submit</button>
                </div>
                </div>
            </div>
            
        </div>
    </section>
</template>

<script>
import UploadFile from '~/components/common/UploadFile.vue'
import SocketService from '../../services/socket.service';
import AuthService from '~/services/auth.service';

export default {
    components: {
        UploadFile,
    },
    data(){
        return{
            page_title: 'Upload image',
            disabledSubmit: false,
            image: '',
            isAuth: AuthService.isAuth,
            avatar_path: '',
            userInfo: {
                email: this.$store.state.user.data.email,
                name: this.$store.state.user.data.name,
                username: this.$store.state.user.data.username,
                current_psw: '',
                new_psw: '',
                confirm_psw: '',
                image: this.$store.state.user.data.avatar,
            }
        }
    },
    created() {
        if(!this.isAuth){
            this.$router.push('/');
        }
    },
    methods:{
        
        changeImage: function(data){
            this[data.name] = data.base64String;
        },

        submitProfile: function(){
            this.disabledSubmit = true;
            let data = this.userInfo;
            data.avatar = this.image;
            this.$http.patch(`/users/${this.$store.state.user.data.id}/update`, data)
            .then( response => {
                SocketService.emit('processUserInfo', response.data.data);
                this.$toastr('success', response.data.message);
            })
            .catch( response => {
                this.disabledSubmit = false;
                this.errors = response.data.errors;
            })

        },
    }
}
</script>
