<template>
    <nuxt />
</template>
<script>
export default {
    head() {
        return {
            link: [
                { rel: 'stylesheet', href: 'https://use.fontawesome.com/releases/v5.8.1/css/all.css' },
                { rel: 'stylesheet', href: '/library-asset/css/bootstrap.min.css' },
                { rel: 'stylesheet', href: '/client-asset/css/main.css' },
                { rel: 'stylesheet', href: '/library-asset/css/toastr.min.css' },
                { rel: 'stylesheet', href: '/dashboard-asset/css/style.css' },
            ],
        }
    },
}
</script>
