<template>
    <section class="container-fulid d-flex flex-column justify-content-start vh-min-100">
        <Header/>
        <nuxt />
    </section>
</template>
<script>
import Header from '~/components/client/base/Header';
import Footer from '~/components/client/base/Footer';
import TickyTime from '~/components/client/base/TimeTicky.vue';
import SubMenu from '~/components/client/base/SubMenu.vue';

export default {
    components: {
        Header,
        Footer,
        TickyTime,
        SubMenu
    },
    head() {
        return {
            link: [
                { rel: 'stylesheet', href: 'https://use.fontawesome.com/releases/v5.8.1/css/all.css' },
                { rel: 'stylesheet', href: '/library-asset/css/bootstrap.min.css' },
                { rel: 'stylesheet', href: '/client-asset/css/main.css' },
                { rel: 'stylesheet', href: '/library-asset/css/toastr.min.css' },
                { rel: 'stylesheet', href: 'https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css' },
            ],
            script: [
                { src: '/client-asset/js/script-min.js' },
                { src: 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' },
            ]
        }
    },
}
</script>
