<template>
    <div>
        <div v-if="$store.state.template == 'login' || $store.state.template == 'register'">
            <Auth :key="keyDefine" />
        </div>
        <div v-else>
            <Client :key="keyDefine" />
        </div>
    </div>
</template>
<script>
import AuthService from '~/services/auth.service';
import Client from './client';
import Auth from './auth';

export default {
    components: {
        Client,
        Auth
    },
    data() {
        return{
            keyDefine: 0,
            loaded: false,
        }
    },
    created() {
        this.$store.commit('user/set', AuthService.setUser());
    },
    watch: {
        '$store.state.user.data': function () {
            if(this.loaded){
                this.keyDefine = this.keyDefine + 1;
            }else{
                this.loaded = true;
            }
        },
    },
}
</script>

