<template>
    <div class="container" v-if="$route.params.lang">
        <template v-if="error.statusCode === 404">
            <h1>{{ $t('page.not_found') }}</h1>
            <nuxt-link to="/">{{ $t('index.home') }}</nuxt-link>
        </template>
        <h1 v-else>{{ $t('page.error') }}</h1>
    </div>
</template>

<script>
export default {
    props: ['error'],
}   
</script>