<template>
    <section>
        <div v-if="!isAuth">
            <div class="container w-50 mt-5 bg-light" style="height: 80%;
    position: absolute;
    top: 50%;
    transform: translate(50%, -50%);">
                <div class="card mt-5">
                    <article class="card-body">
                        <nuxt-link class="float-right btn btn-outline-primary" to="/register">Sign up</nuxt-link>
                        <h4 class="card-title mb-4 mt-1">Sign in</h4>
                        <hr>
                        <form>
                        <div class="form-group">
                            <input name="username" v-model="username" v-on:keyup.enter="login" class="form-control" placeholder="Username" type="text">
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <input class="form-control" v-model="password" name="password" placeholder="******" type="password" v-on:keyup.enter="login">
                        </div> <!-- form-group// -->                                      
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary btn-block" @click="login"> Login  </button>
                                </div> <!-- form-group// -->
                            </div>
                            <div class="col-md-6 text-right">
                                <a class="small" href="#">Forgot password?</a>
                            </div>                                            
                        </div> <!-- .row// -->                                                                  
                    </form>
                    </article>
                </div>
            </div>
        </div>
    </section>
</template>

<script>

import AuthService from '~/services/auth.service';

export default {
    data(){
        return {
            username: '',
            password: '',
            isAuth: AuthService.isAuth
        }
    },
    created() {
        if(this.isAuth){
            this.$router.push('/rooms/all');
        }
    },
    methods:{
        login: function(){
            let data = {};
            data.username = this.username;
            data.password = this.password;
            this.$http.post('/auth/login', data)
            .then(response => {
                AuthService.setAccessToken(response.data.data);
                this.$store.commit('user/set', AuthService.setUser());
                this.$toastr('success', response.data.message);
                this.$router.push('rooms/all');
            })
            .catch(err => {
                if(err.status == 422){
                    let dt = err.data;
                    dt.forEach(er => {
                        this.$toastr('error', er.msg);
                    });
                }
                else{
                    this.$toastr('error', err.data.message);
                }
            })
        },
    }
}
</script>


