<template>
    <div class="row row justify-content-center">
        <nuxt-link class="col-lg-4 col-md-6 col-sm-12 mb-3 gl-p-0" :to="globalBaseUrl('')">
            <div class="card" style="">
                <img class="card-img-top" :src="globalImageUrl('images-asset/slider1.jpg')" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title gl-color-222f3e">Bet Mỗi ngày cùng clevet bet</h5>
                    <p class="card-text gl-color-656565">Phong cách mới lạ</p>
                </div>
            </div>
        </nuxt-link>
        <nuxt-link class="col-lg-4 col-md-6 col-sm-12 mb-3 gl-p-0" :to="globalBaseUrl('')">
            <div class="card" style="">
                <img class="card-img-top" :src="globalImageUrl('images-asset/download.jpg')" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title gl-color-222f3e">Bet Mỗi ngày cùng clevet bet</h5>
                    <p class="card-text gl-color-656565">Phong cách mới lạ</p>
                </div>
            </div>
        </nuxt-link>
        <nuxt-link class="col-lg-4 col-md-6 col-sm-12 mb-3 gl-p-0" :to="globalBaseUrl('')">
            <div class="card" style="">
                <img class="card-img-top" :src="globalImageUrl('images-asset/download.jpg')" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title gl-color-222f3e">Bet Mỗi ngày cùng clevet bet</h5>
                    <p class="card-text gl-color-656565">Phong cách mới lạ</p>
                </div>
            </div>
        </nuxt-link>
    </div>
</template>

<script>
export default {
    data() {
        return {
            
        }
    },
    computed: {
    }
}
</script>
