<template>
    <footer class="d-flex flex-column justify-content-end mt-5">
        <div class="container px-0">
        </div>
    </footer>
</template>

<script>

export default {
    data() {
        return {

        }
    },
    created() {

    },
    methods: {

    },
    mounted() {

    }
}

</script>

<style>


</style>
