<template>
    <section class="container-fluid gl-header px-sm-0 gl-mb-55">
        <div class="container-fluid gl-bg-797c84 sticky" id="navbar">
            <div class="container">
                <div class="gl-menu d-flex justify-content-between py-1">
                    <div class="sm-menu d-xl-none d-block my-auto">
                        <button class="bg-white gl-btn gl-color-e2b631 gl-btn-bg-unset px-2 py-1" type="button">
                            <i class="fas fa-bars"></i>
                        </button>
                    </div>
                    <div class="page-settings align-items-center d-flex" id="languageSwitcher">
                        <div class="gl-slogan mr-2 d-md-block d-none">
                            <div class="gl-user d-flex" v-if="globalObjectLength(user)">
                                <div class="gl-user-inf ml-auto position-relative showUserDrop">
                                    <span class="gl-a-color-hover d-flex showUserDrop" @click="profile"
                                        id="showUserDrop">
                                        <div class="gl-avatar mr-2 showUserDrop">
                                            <img v-if="user.google_id || user.facebook_id"
                                                :src="user.avatar ? (user.avatar.includes('http') ? user.avatar : globalImageUrl(user.avatar)) : globalImageUrl('images-asset/def-avatar.png')"
                                                class="showUserDrop">
                                            <img v-else
                                                :src="user.avatar ? globalImageUrl(user.avatar) : globalImageUrl('images-asset/def-avatar.png')"
                                                class="showUserDrop">
                                        </div>
                                        <div class="">
                                            <div class="gl-user-name showUserDrop">
                                                <h6 class="showUserDrop">{{ user.name }}</h6>
                                            </div>
                                        </div>
                                    </span>
                                    <div class=" gl-bg-tournament">
                                        <a class="dropdown-item gl-a-color-hover" href="#" @click="logOut()">
                                            <i class="fas fa-sign-out-alt pr-2"></i>logOut
                                        </a>
                                    </div>
                                </div>
                                <div class="d-flex ml-5">
                                    <nuxt-link to="/rooms/all">
                                        <button class="btn btn-primary px-4 mx-2">All Rooms</button>
                                    </nuxt-link>
                                    <nuxt-link to="/rooms/my">
                                        <button class="btn btn-warning px-4 mx-2">Your Room</button>
                                    </nuxt-link>
                                    <nuxt-link to="/rooms/create">
                                        <button class="btn btn-warning px-4 mx-2">+ Create Room</button>
                                    </nuxt-link>
                                </div>
                            </div>
                            <div class="gl-login-form" v-else>
                                <div class="d-flex">
                                    <div class="ml-auto">
                                        <nuxt-link to="/register">
                                            <button type="button" class="gl-btn gl-bg-2">
                                                register
                                            </button>
                                        </nuxt-link>
                                    </div>
                                    <div class="">
                                        <a href="#" @click="globalAuthDirect($route.name, 'login')">
                                            <button type="button" class="gl-btn gl-bg-1 gl-color-1">
                                                <i class="fas fa-sign-in-alt pr-2"></i>login
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import AuthService from '~/services/auth.service';
import SocketService from '../../../services/socket.service';
import SelectBox from './SelectBox';
import UploadFile from '../../common/UploadFile.vue';

export default {
    components: {
        SelectBox,
        UploadFile
    },
    data(){
        return{
            isAuth: AuthService.isAuth,
            user: this.$store.state.user.data,
            language: this.$route.params.lang,
            showDrop: false,
            showMenuDrop: false,
            sub_account: '',
        }
    },
    created(){
        
    },
    methods:{
        profile: function() {
            this.$router.push('/profile/edit');
        },
        logOut: function() {
            AuthService.logOut();
            this.$store.commit('user/set', AuthService.setUser());
            this.$router.push('/');
        },
        showUserDrop: function() {
            if(!this.showDrop)
                this.showDrop = true;
            else{
                this.showDrop = false;
            }
        },
        showParentMenu: function() {
            if(!this.showMenuDrop)
                this.showMenuDrop = true;
            else{
                this.showMenuDrop = false;
            }
        },
        
    },
    mounted(){
        const socket = SocketService.socket;
        socket.on('updateBlockInfo', function(data){
            if(this.isAuth && data.id == this.user.id){
                this.$toastr('error', data.message);
                AuthService.logOut();
                this.$store.commit('user/set', AuthService.setUser());
                this.$router.push({ name: 'lang-login' });
            }
        }.bind(this));
        socket.on('updateUserInfo', function(data){
            let new_info = JSON.parse(AuthService.decodeJWT(data));
            let old_info = this.$store.state.user.data;
            if(this.globalObjectLength(old_info) && old_info.id == new_info.id){
                AuthService.setAccessToken(data);
                this.$store.commit('user/set', AuthService.setUser());
            }
        }.bind(this));
    },
    watch: {
        '$store.state.user.data': function() {
            this.user = this.$store.state.user.data;
        }
    }
}
</script>
