<template>
    <div class="select-box d-flex" @click="showSelectBox($event)" v-if="getCurrentLanguage()">
        <i class="fas fa-chevron-down"></i>
        <div class="current my-auto ">
            <img v-if="getCurrentLanguage().image" :src="globalImageUrl(getCurrentLanguage().image)" /> {{ getCurrentLanguage().name }}
        </div>
        <div class="option-list">
            <template v-for="(lang, index) in $store.state.localeDisplays">
                <div :key="index" class="option" @click="changeLanguage(index)">
                    <img v-if="lang && lang.image" :src="globalImageUrl(lang.image)" /> {{ lang.name }}
                </div>
            </template>
        </div>
    </div>
</template>

<script>
export default {
    methods: {
        showSelectBox(event) {
            $('.select-box').toggleClass('select-box--clicked');
        },
        changeLanguage: function(index){
            let locale = index;
            let { lang } = this.$route.params;
            let { fullPath } = this.$route;

            let url = `/${locale}${fullPath.split(lang)[1]}`;
            this.$router.push(url);
        },
        getCurrentLanguage: function(){
            const { locale } = this.$store.state;
            return this.$store.state.localeDisplays[locale];
        },
    },
};
</script>
