<template>
    <div class="gl-sub-menu">
        <div class="container d-flex px-3 p-sm-0">
            <ul class="my-auto mx-0">
                <li><a href="#">Khuyến mãi</a></li>
                <li><a href="#">Giới thiệu bạn bè</a></li>
                <li><a href="#">Vip</a></li>
                <li><a href="#">Quà tặng</a></li>
                <li><a href="#">Trung tâm hỗ trợ</a></li>
                <li><a href="#">Liên hệ</a></li>
                <li><a href="#">Ngân hàng</a></li>
            </ul>
        </div>
    </div>
</template>

<script>

export default {
    data() {
        return {
            user: this.$store.state.user.data,
            language: '',
        }
    },
}

</script>

