<template>
    <div class="container time-ticky">
        <div class="time__wrap">
            <div class="time__showing-box">
                {{ this.currentTime }}
            </div>
        </div>

        <div class="time__marquee">
            <marquee @mouseover.self="stopScrolling()" @mouseout.self="resetScrolling()" :scrollamount="scrollAmount"
                id="marquee1">
                Hãy sẵn sàng cùng Clevebet trải nghiệm các vòng chơi thú vị và đặc biệt không có ở nơi khác! Cơ hội nhận phần thưởng chiến thắng lên
                đến 100,000$. Bạn có thể tham gia các vòng chơi theo tuần hoặc ngày với luật chơi khác biệt. Tham gia ngay cùng Clevebet!
            </marquee>
        </div>
    </div>
</template>

<script>
export default {
    name: 'TimeTicky',
    data() {
        return {
            currentTime: null,
            scrollAmount: 4,
        }
    },
    created() {
        setInterval(() => {
            const day = new Date().getDate();
            const month = new Date().getMonth() + 1;
            const year = new Date().getFullYear();
            let hour = new Date().getHours();
            hour = hour > 9 ? hour : `0${hour}`;
            let minutes = new Date().getMinutes();
            minutes = minutes > 9 ? minutes : `0${minutes}`;
            const timeZone = new Date().getTimezoneOffset();

            const timeZoneConverse = timeZone / (-60);
            let timeZoneExport = '';

            if (timeZoneConverse >= 0) {
                timeZoneExport = `+${timeZoneConverse}`;
            } else {
                timeZoneExport = `-${timeZoneConverse}`;
            }

            let dayExport = '';

            if (day < 10) {
                dayExport = `0${day}`;
            } else {
                dayExport = `${day}`;
            }

            let monthExport = '';

            if (month < 10) {
                monthExport = `0${month}`;
            } else {
                monthExport = `${month}`;
            }

            this.currentTime = `${dayExport}/${monthExport}/${year} ${hour}:${minutes} (GMT ${timeZoneExport})`;
        }, 1000);
    },
    methods: {
        stopScrolling() {
            document.getElementById('marquee1').stop();
        },
        resetScrolling() {
            document.getElementById('marquee1').start();
        }
    }
}

</script>

<style>

</style>
