<template>
    <section class="container">
        
    </section>
</template>

<script>
import AuthService from '~/services/auth.service';
import SocketService from '~/services/socket.service';

export default {
    components: {
        
    },
    data(){
        return{
            user: this.$store.state.user.data,
            test: this.$t('index.test'),
        }
    },
    created() {
    },
    methods:{
        goToDashBoard: function(){
            this.$router.push({name: 'lang-dashboard'});
        },
        logOut: function(){
            AuthService.logOut();
            this.$store.commit('user/set', AuthService.setUser());
        },
        emitSocket: function(){
            SocketService.emit('process', {data: 123, message: 'Test socket'});
        },
        onSocket: function(data){
            console.log(data);
        }
    },
    mounted(){
        const socket = SocketService.socket;
        socket.on('update', function(data){
            if(data){
                this.onSocket(data);
            }
        }.bind(this));
    }
}
</script>
