<template>
    <div class="container w-50 mt-5 mycss bg-light" style="height: 80%;
    position: absolute;
    top: 50%;
    transform: translate(50%, -50%);">
        <div class="card mt-5">
            <article class="card-body">
                <a href="" class="float-right btn btn-outline-primary">Sign up</a>
                <h4 class="card-title mb-4 mt-1">Sign in</h4>
                <p>
                    <a href="" class="btn btn-block btn-outline-info"> <i class="fab fa-twitter"></i>   Login via Twitter</a>
                    <a href="" class="btn btn-block btn-outline-primary"> <i class="fab fa-facebook-f"></i>   Login via facebook</a>
                </p>
                <hr>
                <form>
                <div class="form-group">
                    <input name="username" v-model="username" class="form-control" placeholder="Username" type="text">
                </div> <!-- form-group// -->
                <div class="form-group">
                    <input class="form-control" v-model="password" name="password" placeholder="******" type="password">
                </div> <!-- form-group// -->                                      
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <button type="button" class="btn btn-primary btn-block" @click="login"> Login  </button>
                        </div> <!-- form-group// -->
                    </div>
                    <div class="col-md-6 text-right">
                        <a class="small" href="#">Forgot password?</a>
                    </div>                                            
                </div> <!-- .row// -->                                                                  
            </form>
            </article>
        </div>
    </div>
</template>

<script>

import AuthService from '~/services/auth.service';

export default {
    data(){
        return {
            username: '',
            password: '',
        }
    },
    created() {
    },
    methods:{
        login: function(){
            let data = {};
            data.username = this.username;
            data.password = this.password;
            this.$http.post('/auth/login', data)
            .then(response => {
                AuthService.setAccessToken(response.data.data);
                this.$store.commit('user/set', AuthService.setUser());
                this.$toastr('success', response.data.message);
                this.$router.push('lang');
            })
            .catch(err => {
                if(err.status == 422){
                    let dt = err.data;
                    dt.forEach(er => {
                        this.$toastr('error', er.msg);
                    });
                }
                else{
                    this.$toastr('error', err.data.message);
                }
            })
        },
    }
}
</script>


