<template>
    <section class="container">
        <div>
            <h1 class="title">
                Upload image
            </h1>
            <h2 class="subtitle">
                <img v-if="avatar_path" :src="globalImageUrl(avatar_path)">
                <UploadFile :name="'avatar'" @onChangeImage="changeImage" />
            </h2>
            <button type="button" @click="uploadImage()">Upload</button>
        </div>
    </section>
</template>

<script>
import UploadFile from '~/components/common/UploadFile.vue'

export default {
    head () {
        return {
            title: this.page_title,
            meta: [
                { hid: 'keywords', name: 'keywords', content: 'upload, image' },
                { hid: 'description', description: 'description', content: 'Test upload image' },
                { hid: 'og:description', name: 'og:description', content: 'Test upload image' },
                { hid: 'og:title', name: 'og:title', content: this.page_title },
                { hid: 'og:image', name: 'og:image', content: this.globalImageUrl('favicon.ico') },
                { hid: 'og:site_name', name: 'og:site_name', content: process.env.SITE_NAME },
            ],
        }
    },
    components: {
        UploadFile,
    },
    data(){
        return{
            page_title: 'Upload image',
            avatar: '',
            avatar_path: '',
        }
    },
    methods:{
        changeImage: function(data){
            this[data.name] = data.base64String;
        },
        uploadImage: function(){
            let data = {};
            data.avatar = this.avatar;
            this.$http.post('/upload', data)
            .then(response => {
                let data = response.data;
                this.avatar = '';
                this.avatar_path = data.path;
            })
            .catch( response => {
                if(response.status == 413){
                    alert('Image is too big');
                }
            })
        },
    }
}
</script>
