<template>
    <section>
        <div class="stripe" v-if="!address">
            <div class="stripe__wrap">
                <form @submit="submitBlockchain">
                    <input type="text" v-model="amount" :placeholder="
                    $t('payments.checkout.amount')" class="w-100"/>
                    <button type="submit" @click="submitBlockchain" :disabled="disabledSubmit">
                        <span v-if="disabledSubmit">
                            <PulseLoader :color="'#6789bb'" :size="'10px'"/>
                        </span>
                        <span v-else="disabledSubmit">
                            {{ $t('home.charge') }}
                        </span>
                    </button>
                </form>
            </div>
        </div>
        <div v-else>
            <div><b>Amount Due: {{amountBtc}} BTC</b><br>
                Remit payment to the below address to complete your order. <br>
            <img :src="'http://chart.googleapis.com/chart?chs=125x125&cht=qr&chl=' + address" width="50%"> 
            <br>
            <input type="text" id="payBox" :value="address" readonly>
            </div>
        </div>
    </section>
</template>
<script>
import PulseLoader from 'vue-spinner/src/PulseLoader.vue';
export default {
    components: {
        PulseLoader
    },
    props: {
        code: '',
    },
    data() {
        return {
            amount: '',
            disabledSubmit: false,
            address: '',
            amountBtc: '',
        }
    },
    methods: {
        submitBlockchain: function(e) {
            e.preventDefault();
            this.disabledSubmit = true;
            let data = {
                amount: this.amount,
                code: this.code,
                url: window.location.origin + '/' + this.$store.state.locale,
            }
            this.$http.post('/transaction/charge', data)
            .then(response => {
                console.log(response);
                this.address = response.data.address;
                this.amountBtc = response.data.amountBtc;
            })
            .catch(response => {
                this.disabledSubmit = false;
            })
        }
    }
  
}
</script>