<template>
    <div class="stripe">
        <div class="stripe__wrap">
            <form @submit="submitCoinGate">
                <input type="text" v-model="amount" :placeholder="
                $t('payments.checkout.amount')" class="w-100"/>
                <button type="submit" @click="submitCoinGate" :disabled="disabledSubmit">
                    <span v-if="disabledSubmit">
                        <PulseLoader :color="'#6789bb'" :size="'10px'"/>
                    </span>
                    <span v-else="disabledSubmit">
                        {{ $t('home.charge') }}
                    </span>
                </button>
            </form>
        </div>
    </div>
</template>
<script>
import PulseLoader from 'vue-spinner/src/PulseLoader.vue';
export default {
    components: {
        PulseLoader
    },
    props: {
        code: '',
    },
    data() {
        return {
            amount: '',
            disabledSubmit: false
        }
    },
    methods: {
        submitCoinGate: function(e) {
            e.preventDefault();
            this.disabledSubmit = true;
            let data = {
                amount: this.amount,
                code: this.code,
                url: window.location.origin,
                locale: this.$store.state.locale
            }
            this.$http.post('/transaction/charge', data)
            .then(response => {
                window.location.href = response.data.data;
            })
            .catch(response => {
                this.disabledSubmit = false;
            })
        }
    }
  
}
</script>