<template>
    <div class="stripe">
        <div class="stripe__wrap">
            <form @submit="submitPaypal">
                <input type="text" v-model="amount" :placeholder="$t('payments.checkout.amount')" class="w-100" />
                <button type="submit" @click="submitPaypal" :disabled="disabledSubmit">
                    <span v-if="disabledSubmit">
                        <PulseLoader :color="'#6789bb'" :size="'10px'"/>
                    </span>
                    <span v-else="disabledSubmit">
                        {{ $t('home.charge') }}
                    </span>
                </button>
            </form>
        </div>
    </div>
</template>
<script>
import PulseLoader from 'vue-spinner/src/PulseLoader.vue';
export default {
    components: {
        PulseLoader
    },
    props: {
        code: '',
    },
    data() {
        return {
            amount: '',
            disabledSubmit: false
        }
    },
    methods: {
        submitPaypal: function(e) {
            e.preventDefault();
            this.disabledSubmit = true;
            let data = {
                amount: this.amount,
                code: this.code,
                url: window.location.origin +'/'+ this.$store.state.locale,
            }
            this.$http.post('/transaction/charge', data)
            .then(response => {
                if( !response.data.error && response.data.data ) {
                    window.location.href = response.data.data;
                }
                else{
                    this.disabledSubmit = false;
                }
            })
            .catch(response => {
                this.$toastr('error', response.data.message);
                this.disabledSubmit = false;
            })
        }
    }
  
}
</script>

