<template>
    <div class="stripe">
        <div class="stripe__wrap">
            <form action="https://perfectmoney.is/api/step1.asp" method="POST" ref="form">
                <div>
                    <label>{{ $t('payments.account') }}</label>
                </div>
                <div>
                    <input class="w-100" type="text" name="PAYEE_ACCOUNT" v-model="payee_account" placeholder="U19218201">
                </div>
                <div>
                    <input class="w-100" type="text" name="PAYMENT_AMOUNT" v-model="payment_amount" :placeholder="
                $t('payments.checkout.amount')">
                </div>
                <input type="hidden" name="PAYEE_NAME" v-model="payee_name">
                <input type="hidden" name="PAYMENT_ID" v-model="payment_id">
                <input type="hidden" name="PAYMENT_UNITS" v-model="payment_units">
                <input type="hidden" name="STATUS_URL" v-model="status_url">
                <input type="hidden" name="PAYMENT_URL" v-model="success_payment">
                <input type="hidden" name="PAYMENT_URL_METHOD" value="LINK">
                <input type="hidden" name="NOPAYMENT_URL" v-model="cancel_payment">
                <input type="hidden" name="NOPAYMENT_URL_METHOD" value="LINK">
                <input type="hidden" name="SUGGESTED_MEMO" value="">
                <button type="submit" name="PAYMENT_METHOD" @click="submitPerfect" :disabled="disabledSubmit">
                    <span v-if="disabledSubmit">
                        <PulseLoader :color="'#6789bb'" :size="'10px'"/>
                    </span>
                    <span v-else="disabledSubmit">
                        {{ $t('payments.pay_now') }}
                    </span>
                </button>
            </form>
        </div>
    </div>
</template>
<script>
import PulseLoader from 'vue-spinner/src/PulseLoader.vue';
export default {
    components: {
        PulseLoader
    },
    props: {
        payee_account: '', // Hung's Account: U19218201
        code: '',
        status_url: '' , // This is the URL (that can be used) to which merchant will address after a successful payment. Direct all your payments to this email.
    },
    data() {
        return {
            disabledSubmit: false,
            payee_name: 'Clevebet', // This is seen by the user who makes a payment
            payment_id: '', // Identifier for this payment. Not require
            payment_amount: '',
            payment_units: 'USD',
            success_payment: '', // This is the URL where user will be redirected after a successful payment.
            cancel_payment: '' // This is the URL where user will be redirected after an unsuccessful payment attempt.

        }
    },
    methods: {
        submitPerfect: function(event){
            event.preventDefault();
            this.disabledSubmit = true;
            let locale = this.$store.state.locale;
            let data = {
                amount: this.payment_amount,
                code: this.code,
            }
            this.$http.post('/transaction/charge', data)
            .then( response => {
                if(response.data.code){
                    let transaction_code = response.data.code;
                    this.success_payment =  `${window.location.origin}/${locale}/payment/checkout?code=${transaction_code}&status=success`;
                    this.cancel_payment = `${window.location.origin}/${locale}/payment/checkout?code=${transaction_code}&status=fail`;
                    setTimeout( function(){
                        if(this.success_payment && this.cancel_payment)
                            this.$refs.form.submit();
                        else
                            this.disabledSubmit = false;
                    }.bind(this), 3000);
                }
            })
            .catch( response => {
                this.$toastr('error', response.data.message);
                this.disabledSubmit = false;
            })

        }
    }
}
</script>
