<template>
    <div class="stripe">
        <div class="stripe__wrap">
            <form @submit="submitStripe">
                <input type="number" v-model="stripeOptions.amount" :placeholder="
                $t('payments.checkout.amount')" class="w-100">
                <card-number class='stripe-element card-number'
                    ref='cardNumber'
                    :stripe='credentials.publishable_key'
                    :options='stripeOptions'
                    @change='number = $event.complete'
                />
                <card-expiry class='stripe-element card-expiry'
                    ref='cardExpiry'
                    :stripe='credentials.publishable_key'
                    :options='stripeOptions'
                    @change='expiry = $event.complete'
                />
                <card-cvc class='stripe-element card-cvc'
                    ref='cardCvc'
                    :stripe='credentials.publishable_key'
                    :options='stripeOptions'
                    @change='cvc = $event.complete'
                />
                <button type="submit" @click="submitStripe" :disabled="disabledSubmit">
                    <span v-if="disabledSubmit">
                        <PulseLoader :color="'#6789bb'" :size="'10px'"/>
                    </span>
                    <span v-else="disabledSubmit">
                        {{ $t('home.charge') }}
                    </span>
                </button>
            </form>
        </div>
    </div>
</template>
<script>
import { CardNumber, CardExpiry, CardCvc, createToken } from 'vue-stripe-elements-plus';
import PulseLoader from 'vue-spinner/src/PulseLoader.vue';

export default {
    components: { CardNumber, CardExpiry, CardCvc, PulseLoader },
    props: {
        credentials: '',
        code: '',
    },
    data() {
        return {
            complete: false,
            number: false,
            expiry: false,
            cvc: false,
            stripeOptions: {
                amount: '',
            },
            disabledSubmit: false
        }
    },
    created() {

    },
    methods: {
        submitStripe: function(e) {
            e.preventDefault();
            if(this.complete){
                this.disabledSubmit = true;
                createToken()
                .then(res => {
                    if(res.token){
                        let data = {
                            amount: this.stripeOptions.amount,
                            code: this.code,
                            url: window.location.origin +'/'+ this.$store.state.locale,
                            token: res.token,
                        }
                        this.$http.post('/transaction/charge', data)
                        .then(response => {
                            this.$router.push(response.data.data.checkout_url);
                            let closeModal = document.getElementById('closeModal');
                            if(closeModal){
                                closeModal.click();
                                setTimeout(() => {
                                    document.getElementById("paymentPopup").classList.toggle("newClassName");
                                }, 1000);
                            }
                        })
                        .catch(response => {
                            this.$toastr('error', response.data.message);
                            this.disabledSubmit = false;
                        })
                    }
                })
            }
        },
        updateCardInfo: function() {
            this.complete = this.number && this.expiry && this.cvc

            // field completed, find field to focus next
            if (this.number) {
                if (!this.expiry) {
                    this.$refs.cardExpiry.focus();
                }else if (!this.cvc) {
                    this.$refs.cardCvc.focus();
                }
            }else if (this.expiry) {
                if (!this.cvc) {
                    this.$refs.cardCvc.focus();
                }else if (!this.number) {
                    this.$refs.cardNumber.focus();
                }
            }
        }
    },
    watch: {
        number() { this.updateCardInfo() },
        expiry() { this.updateCardInfo() },
        cvc() { this.updateCardInfo() }
    }
}
</script>
<style>
    .credit-card-inputs.complete {
        border: 2px solid green;
    }
</style>
