<template>
    <div class="clevebet-game-round my-2 bg-dark w-100">
        <template v-if="ranks && userCurrentRank(ranks)">
            <div class="text-center text-uppercase text-warning border-bottom border-info">
                <i class="fas fa-trophy"></i> Top 20
            </div>
            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">{{ $t('bet.username') }}</th>
                        <th scope="col" class="text-right">{{ $t('bet.point') }}</th>
                    </tr>
                </thead>
                <tbody>
                    <template v-for="(top, index) in top20">
                        <tr>
                            <th scope="row" class="align-middle">{{ index + 1 }}</th>
                            <td class="align-middle">{{ top.username }}</td>
                            <td class="text-right align-middle">{{ globalFormatNumber(top.point) }}</td>
                        </tr>
                    </template>
                    <tr>
                        <td colspan="3" class="text-center align-middle">{{ $t('bet.your_rank') }}: {{ userCurrentRank(ranks) }}</td>
                    </tr>
                </tbody>
            </table>
        </template>
        <template v-else>
            <div class="text-center mt-3">
                <PulseLoader :color="'#6789bb'" :size="'20px'"/>
            </div>
        </template>
    </div>
</template>
<script>
import PulseLoader from 'vue-spinner/src/PulseLoader.vue';
	
export default {
    components: {
        PulseLoader,
    },
    props: {
        ranks: '',
        top20: '',
    },
    methods: {
        userCurrentRank: function(ranks) {
            let user_rank = '';
            let user_id = this.$store.state.user.data.id;
            for(let i in ranks){
                let rank = ranks[i];
                if(rank.user_id == user_id){
                    user_rank = parseInt(i) + 1;
                }
            }
            return user_rank;
        }
    }
}
</script>